*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    padding: 1rem;
}

.hero {
    min-height: 90vh;
    background-image: url("/pexels-hasan-albari-1229861.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2{
    text-align: center;
    margin: 2rem;
}

.hero button{
    padding: 1rem 2rem;
    background: rgb(167, 223, 206);
    border: none;
}

.intro{
    display: flex;
    flex-wrap: wrap;
}

.intro img{
    width: 100%;
    height: 100%;
}

.intro-img {
    flex: 1 1 10rem;
    background: lightblue;
    
}

.intro-text{
    flex: 1 1 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-text h2{
    padding: 2rem;
}

.intro-text p {
    padding: 1rem;
}

